<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="Suite" parallel="tests">
  <test name="Test">
    <parameter name="Browser" value="F"/>
    <classes>
     <class name="TestSuite.TC01"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
